name: Deploy HTML, CSS, JS

on:
  push:
    branches:
      - main  # This triggers the CI/CD pipeline when you push to 'master' branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'  # Use the appropriate version of Node.js if needed

      - name: Install Vercel CLI
        run: npm install -g vercel  # Install the Vercel CLI using npm

      - name: Deploy to Vercel
        run: |
            vercel --prod --token ${{ secrets.VERCEL_TOKEN }} --yes 
